<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block body %}
    <div class="signup">
        <form action="/handelSignup" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username">
            <input type="email" name="useremail" id="useremail">
            <input type="password" name="pass1" id="pass1">
            <input type="password" name="pass2" id="pass2">
            <input type="submit" value="submit">

        </form>
    </div>
    {% endblock body %}

</body>
</html>